.footCSS {
	position: relative;
	bottom: -450px;
	
}
bar {
    position: absolute;
    top: -20px;
    width:100%;
    z-index: -1;
}
s
.formdiv_login {
    position:relative;
    right: -5%;
    height: 350px;
    width: 90%;
/*    z-index: -100;*/
}

.navdown {
    position: relative;
    height: 150px;
    width: 100%;
}

.verticalLine {
    border-left: thin #455a64  solid ;
}

img.list {
    width: 250px;
    height: 350px;
}

nav.nav_front{
	z-index: 100;
}